In [1]:
import pandas as pd

folder = "D:/Coding/AI-ML/Model_Train_SML/"

report_details = pd.read_csv(folder + "DEMO20Q4.txt", delimiter='$', low_memory=False)
drug_list = pd.read_csv(folder + "DRUG20Q4.txt", delimiter='$', low_memory=False)
adverse_reactions = pd.read_csv(folder + "REAC20Q4.txt", delimiter='$', low_memory=False)
prescribed_reason = pd.read_csv(folder + "INDI20Q4.txt", delimiter='$', low_memory=False)
outcome = pd.read_csv(folder + "OUTC20Q4.txt", delimiter='$', low_memory=False)
therapy_date = pd.read_csv(folder + "THER20Q4.txt", delimiter='$', low_memory=False)

In [2]:
report_details

,primaryid,caseid,caseversion,i_f_code,event_dt,mfr_dt,init_fda_dt,fda_dt,rept_cod,auth_num,...,age_grp,sex,e_sub,wt,wt_cod,rept_dt,to_mfr,occp_cod,reporter_country,occr_country
0,100046573,10004657,3,F,20120731.0,20201030.0,20140312,20201103,EXP,NaN,...,NaN,F,Y,81.63,KG,20201103.0,NaN,LW,US,US
1,100046962,10004696,2,F,NaN,20201019.0,20140312,20201021,EXP,NaN,...,NaN,M,Y,NaN,NaN,20201021.0,NaN,HP,PL,PL
2,100048793,10004879,3,F,20050908.0,20201030.0,20140312,20201102,EXP,NaN,...,NaN,F,Y,NaN,NaN,20201102.0,NaN,LW,US,US
3,100051383,10005138,3,F,1999.0,20201018.0,20140312,20201020,EXP,NaN,...,NaN,F,Y,83.00,KG,20201020.0,NaN,LW,US,US
4,100075524,10007552,4,F,199908.0,20201018.0,20140313,20201021,EXP,NaN,...,NaN,F,Y,90.70,KG,20201021.0,NaN,LW,US,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436143,99948873,9994887,3,F,NaN,20201111.0,20140311,20201118,EXP,NaN,...,A,M,Y,85.00,KG,20201119.0,NaN,HP,CA,CA
436144,99954693,9995469,3,F,NaN,20140325.0,20140311,20201014,EXP,NaN,...,E,M,Y,NaN,NaN,20201014.0,NaN,HP,JP,JP
436145,99963622,9996362,2,F,2007.0,20201013.0,20140311,20201015,EXP,NaN,...,NaN,F,Y,58.00,KG,20201015.0,NaN,LW,US,US
436146,99975713,9997571,3,F,200307.0,20201201.0,20140311,20201203,EXP,NaN,...,NaN,F,Y,83.90,KG,20201203.0,NaN,LW,US,US
436147,99976304,9997630,4,F,20140224.0,20200925.0,20140311,20201001,EXP,NaN,...,NaN,M,Y,75.00,KG,20201001.0,NaN,CN,COUNTRY NOT SPECIFIED,NL

In [3]:
drug_list

,primaryid,caseid,drug_seq,role_cod,drugname,prod_ai,val_vbm,route,dose_vbm,cum_dose_chr,cum_dose_unit,dechal,rechal,lot_num,exp_dt,nda_num,dose_amt,dose_unit,dose_form,dose_freq
0,100046573,10004657,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"40 MG, UNK",NaN,NaN,D,NaN,NaN,NaN,20702.0,40.0,MG,FILM-COATED TABLET,NaN
1,100046573,10004657,2,C,TOPROL XL,METOPROLOL SUCCINATE,1,NaN,UNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100046962,10004696,1,PS,QUETIAPINE.,QUETIAPINE,1,Unknown,500 MG,NaN,NaN,NaN,NaN,NaN,NaN,78679.0,500.0,MG,NaN,NaN
3,100046962,10004696,2,I,CITALOPRAM,CITALOPRAM HYDROBROMIDE,1,Unknown,10 MG,NaN,NaN,NaN,NaN,NaN,NaN,77040.0,10.0,MG,NaN,NaN
4,100046962,10004696,3,I,CITALOPRAM,CITALOPRAM HYDROBROMIDE,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77040.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918922,99976304,9997630,7,C,CABERGOLINE.,CABERGOLINE,1,Unknown,"0.5 MG, QD",NaN,NaN,U,U,NaN,NaN,NaN,0.5,MG,NaN,QD
1918923,99976304,9997630,8,C,ASCAL,NaN,2,Unknown,"100 MG, QD",NaN,NaN,U,U,NaN,NaN,NaN,100.0,MG,NaN,QD
1918924,99976304,9997630,9,C,DIAZEPAM.,DIAZEPAM,1,Unknown,"5 MG, QD",NaN,NaN,U,U,NaN,NaN,NaN,5.0,MG,NaN,QD
1918925,99976304,9997630,10,C,DIPYRIDAMOL,DIPYRIDAMOLE,1,Unknown,UNK,NaN,NaN,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918926,99976304,9997630,11,C,LEVOTHYROXINE.,LEVOTHYROXINE,1,Unknown,"150 UG, QD",NaN,NaN,U,U,NaN,NaN,NaN,150.0,UG,NaN,QD

In [4]:
adverse_reactions

,primaryid,caseid,pt,drug_rec_act
0,100046573,10004657,Type 2 diabetes mellitus,NaN
1,100046962,10004696,Abnormal behaviour,NaN
2,100046962,10004696,Drug interaction,NaN
3,100046962,10004696,Energy increased,NaN
4,100046962,10004696,Irritability,NaN
...,...,...,...,...
1522652,99963622,9996362,Type 2 diabetes mellitus,NaN
1522653,99975713,9997571,Type 2 diabetes mellitus,NaN
1522654,99976304,9997630,Agitation,NaN
1522655,99976304,9997630,Inappropriate schedule of product administration,NaN
1522656,99976304,9997630,Psychotic disorder,NaN

In [5]:
prescribed_reason

,primaryid,caseid,indi_drug_seq,indi_pt
0,100046573,10004657,1,Low density lipoprotein increased
1,100046573,10004657,2,Hypertension
2,100046962,10004696,1,Product used for unknown indication
3,100046962,10004696,2,Panic attack
4,100046962,10004696,3,Negative thoughts
...,...,...,...,...
1297441,99976304,9997630,7,Product used for unknown indication
1297442,99976304,9997630,8,Product used for unknown indication
1297443,99976304,9997630,9,Product used for unknown indication
1297444,99976304,9997630,10,Product used for unknown indication
1297445,99976304,9997630,11,Product used for unknown indication

In [6]:
outcome

        primaryid    caseid outc_cod
0       100046573  10004657       OT
1       100046962  10004696       OT
2       100048793  10004879       OT
3       100051383  10005138       OT
4       100075524  10007552       OT
...           ...       ...      ...
365570   99954693   9995469       OT
365571   99954693   9995469       DE
365572   99963622   9996362       OT
365573   99975713   9997571       OT
365574   99976304   9997630       HO

[365575 rows x 3 columns]

In [7]:
therapy_date

        primaryid    caseid  dsg_drug_seq    start_dt      end_dt  dur dur_cod
0       100046573  10004657             1  20090217.0  20110901.0  NaN     NaN
1       100048793  10004879             1  20031024.0  20060801.0  NaN     NaN
2       100048793  10004879             3  20060801.0  20080306.0  NaN     NaN
3       100048793  10004879             4  20080306.0  20090114.0  NaN     NaN
4       100048793  10004879             5  20060801.0         NaN  NaN     NaN
...           ...       ...           ...         ...         ...  ...     ...
681406   99975713   9997571             2    200412.0      2005.0  NaN     NaN
681407   99976304   9997630             1    201305.0         NaN  NaN     NaN
681408   99976304   9997630             2  20140102.0         NaN  NaN     NaN
681409   99976304   9997630             3  20140212.0         NaN  NaN     NaN
681410   99976304   9997630             4  20140306.0         NaN  NaN     NaN

[681411 rows x 7 columns]

## Drug List

In [8]:
drug_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918927 entries, 0 to 1918926
Data columns (total 20 columns):
 #   Column         Dtype
---  ------         -----
 0   primaryid      int64
 1   caseid         int64
 2   drug_seq       int64
 3   role_cod       object
 4   drugname       object
 5   prod_ai        object
 6   val_vbm        int64
 7   route          object
 8   dose_vbm       object
 9   cum_dose_chr   float64
 10  cum_dose_unit  object
 11  dechal         object
 12  rechal         object
 13  lot_num        object
 14  exp_dt         object
 15  nda_num        float64
 16  dose_amt       float64
 17  dose_unit      object
 18  dose_form      object
 19  dose_freq      object
dtypes: float64(3), int64(4), object(13)
memory usage: 292.8+ MB

In [9]:
print(f"Before: {len(drug_list)}")
drug_list = drug_list[(drug_list['role_cod'] == 'PS') | (drug_list['role_cod'] == 'SS')].copy()
print(f"After removing other than 'Primary Suspect' or 'Secondary Suspect' drugs: {len(drug_list)}")

Before: 1918927
After removing other than 'Primary Suspect' or 'Secondary Suspect' drugs: 1084811

In [10]:
drug_list['drugname'].value_counts()

drugname
REVLIMID                                         29096
INFLECTRA                                        24036
ZANTAC                                           16615
HUMIRA                                           15971
OXYCONTIN                                        14798
                                                 ...
AMYVID                                               1
Cefozopran                                           1
PROBIOTIC                          /06395501/        1
OMEGA-3                            /01866101/        1
ALLERTIN                           /00917501/        1
Name: count, Length: 24433, dtype: int64

In [11]:
drug_list_cleaned = drug_list.drop(columns = ['caseid','nda_num','lot_num','val_vbm','dose_vbm','exp_dt'])  # case id is still important when merging
drug_list_cleaned

,primaryid,drug_seq,role_cod,drugname,prod_ai,route,cum_dose_chr,cum_dose_unit,dechal,rechal,dose_amt,dose_unit,dose_form,dose_freq
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,NaN,NaN,D,NaN,40.0,MG,FILM-COATED TABLET,NaN
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,NaN,NaN,NaN,500.0,MG,NaN,NaN
6,100046962,5,SS,SARCOSINE,SARCOSINE,Unknown,NaN,NaN,U,U,NaN,NaN,NaN,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,13720.0,MG,U,NaN,20.0,MG,FILM-COATED TABLET,QD
8,100048793,2,SS,LIPITOR,ATORVASTATIN CALCIUM,NaN,13720.0,MG,U,NaN,NaN,NaN,FILM-COATED TABLET,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,NaN,NaN,U,U,30.0,MG,SUSPENSION FOR INJECTION,NaN
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,NaN,NaN,U,U,30.0,MG,SUSPENSION FOR INJECTION,NaN
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,NaN,NaN,U,U,30.0,MG,SUSPENSION FOR INJECTION,NaN
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,NaN,NaN,U,U,30.0,MG,SUSPENSION FOR INJECTION,NaN
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,NaN,NaN,U,U,30.0,MG,SUSPENSION FOR INJECTION,NaN

In [12]:
drug_list_cleaned.isnull().sum()

primaryid              0
drug_seq               0
role_cod               0
drugname               0
prod_ai                0
route             170425
cum_dose_chr     1049578
cum_dose_unit    1049698
dechal            278529
rechal            840795
dose_amt          543231
dose_unit         543449
dose_form         438610
dose_freq         774595
dtype: int64

In [13]:
drug_list_cleaned.drop(columns=['cum_dose_chr', 'cum_dose_unit','rechal','dose_freq'], inplace=True)   # too many null
drug_list_cleaned

,primaryid,drug_seq,role_cod,drugname,prod_ai,route,dechal,dose_amt,dose_unit,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,D,40.0,MG,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,500.0,MG,NaN
6,100046962,5,SS,SARCOSINE,SARCOSINE,Unknown,U,NaN,NaN,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,U,20.0,MG,FILM-COATED TABLET
8,100048793,2,SS,LIPITOR,ATORVASTATIN CALCIUM,NaN,U,NaN,NaN,FILM-COATED TABLET
...,...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,U,30.0,MG,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION

In [14]:
columns_to_rename = {
    'drug_seq': 'drug_sequence',
    'role_cod': 'drug_role',
    'prod_ai': 'active_chemical',
    'dechal': 'dechallenge',
    'dose_amt': 'dose_amount',
}
drug_list_cleaned = drug_list_cleaned.rename(columns=columns_to_rename)
drug_list_cleaned

,primaryid,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_unit,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,D,40.0,MG,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,500.0,MG,NaN
6,100046962,5,SS,SARCOSINE,SARCOSINE,Unknown,U,NaN,NaN,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,U,20.0,MG,FILM-COATED TABLET
8,100048793,2,SS,LIPITOR,ATORVASTATIN CALCIUM,NaN,U,NaN,NaN,FILM-COATED TABLET
...,...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,U,30.0,MG,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION

In [15]:
drug_list_cleaned['dose_unit'].value_counts()

dose_unit
MG         430388
DF          37297
G           16794
MG/KG       16262
UG          11923
MG/M**2      9757
IU           9588
ML           4948
UG/KG        1300
GTT          1120
MG/ML         422
L             389
PCT           323
UG/M**2       123
IU/KG         114
MIU            88
NG             83
MCI            76
MEQ            69
MG/MG          69
KIU            52
MBQ            47
TOT            22
UL             20
UCI            17
GBQ            16
KG             15
MOL             8
MMOL            7
PG              7
UGM/UGM         6
AN              6
KBQ             5
UGM/HR          1
Name: count, dtype: int64

In [16]:
conversion_to_mg = {
    'G': 1000,    # g to mg
    'UG': 0.001,  # micro to mg
    'KG': 1000000, # kg to mg
    'MG': 1        
}

for unit, factor in conversion_to_mg.items():
    mask = drug_list_cleaned['dose_unit'] == unit     # when matched with unit in dictionary
    drug_list_cleaned.loc[mask, 'dose_amount'] *= factor
    drug_list_cleaned.loc[mask, 'dose_unit'] = 'MG'

drug_list_cleaned['dose_unit'].value_counts()

dose_unit
MG         459120
DF          37297
MG/KG       16262
MG/M**2      9757
IU           9588
ML           4948
UG/KG        1300
GTT          1120
MG/ML         422
L             389
PCT           323
UG/M**2       123
IU/KG         114
MIU            88
NG             83
MCI            76
MEQ            69
MG/MG          69
KIU            52
MBQ            47
TOT            22
UL             20
UCI            17
GBQ            16
MOL             8
MMOL            7
PG              7
UGM/UGM         6
AN              6
KBQ             5
UGM/HR          1
Name: count, dtype: int64

In [17]:
drug_list_cleaned

,primaryid,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_unit,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,D,40.0,MG,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,500.0,MG,NaN
6,100046962,5,SS,SARCOSINE,SARCOSINE,Unknown,U,NaN,NaN,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,U,20.0,MG,FILM-COATED TABLET
8,100048793,2,SS,LIPITOR,ATORVASTATIN CALCIUM,NaN,U,NaN,NaN,FILM-COATED TABLET
...,...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,U,30.0,MG,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION

In [18]:
drug_list_cleaned = drug_list_cleaned[drug_list_cleaned['dose_unit'] == 'MG'].copy()   # Removing all other for analysis
drug_list_cleaned

,primaryid,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_unit,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,D,40.0,MG,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,500.0,MG,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,U,20.0,MG,FILM-COATED TABLET
9,100048793,3,SS,ATORVASTATIN,ATORVASTATIN,Oral,U,40.0,MG,NaN
10,100048793,4,SS,ATORVASTATIN,ATORVASTATIN,Oral,U,110.0,MG,NaN
...,...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,U,30.0,MG,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,MG,SUSPENSION FOR INJECTION

In [19]:
drug_list_cleaned.drop(columns = ['dose_unit'], inplace=True)  # now not needed
drug_list_cleaned

,primaryid,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,D,40.0,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,NaN,500.0,NaN
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,U,20.0,FILM-COATED TABLET
9,100048793,3,SS,ATORVASTATIN,ATORVASTATIN,Oral,U,40.0,NaN
10,100048793,4,SS,ATORVASTATIN,ATORVASTATIN,Oral,U,110.0,NaN
...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,U,30.0,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,U,30.0,SUSPENSION FOR INJECTION

In [20]:
drug_list_cleaned['dechallenge'].value_counts()

dechallenge
U    149873
Y     71552
D     55724
N     16318
Name: count, dtype: int64

In [21]:
drug_list_cleaned.isnull().sum()

primaryid               0
drug_sequence           0
drug_role               0
drugname                0
active_chemical         0
route               35317
dechallenge        165653
dose_amount             6
dose_form          139499
dtype: int64

In [22]:
drug_list_cleaned.dropna(subset=['dose_amount'], inplace=True)
drug_list_cleaned['dechallenge'] = drug_list_cleaned['dechallenge'].fillna('U')
drug_list_cleaned['route'] = drug_list_cleaned['route'].fillna('Unknown')
drug_list_cleaned['dose_form'] = drug_list_cleaned['dose_form'].fillna('Unknown')

drug_list_cleaned.isnull().sum()

primaryid          0
drug_sequence      0
drug_role          0
drugname           0
active_chemical    0
route              0
dechallenge        0
dose_amount        0
dose_form          0
dtype: int64

In [23]:
dechallenge_map = {
    'U': 'Unknown',
    'Y': 'Yes',
    'N': 'No',
    'D': 'Not applicable'  # Does not apply
}
drug_list_cleaned['dechallenge'] = drug_list_cleaned['dechallenge'].map(dechallenge_map)
drug_list_cleaned

,primaryid,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form
0,100046573,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,Not applicable,40.0,FILM-COATED TABLET
2,100046962,1,PS,QUETIAPINE.,QUETIAPINE,Unknown,Unknown,500.0,Unknown
7,100048793,1,PS,LIPITOR,ATORVASTATIN CALCIUM,Oral,Unknown,20.0,FILM-COATED TABLET
9,100048793,3,SS,ATORVASTATIN,ATORVASTATIN,Oral,Unknown,40.0,Unknown
10,100048793,4,SS,ATORVASTATIN,ATORVASTATIN,Oral,Unknown,110.0,Unknown
...,...,...,...,...,...,...,...,...,...
1918916,99976304,1,PS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Subcutaneous,Unknown,30.0,SUSPENSION FOR INJECTION
1918917,99976304,2,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,Unknown,30.0,SUSPENSION FOR INJECTION
1918918,99976304,3,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,Unknown,30.0,SUSPENSION FOR INJECTION
1918919,99976304,4,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,Unknown,30.0,SUSPENSION FOR INJECTION
1918920,99976304,5,SS,SANDOSTATIN LAR DEPOT,OCTREOTIDE ACETATE,Intramuscular,Unknown,30.0,SUSPENSION FOR INJECTION

In [24]:
drug_list_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 459114 entries, 0 to 1918920
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   primaryid        459114 non-null  int64
 1   drug_sequence    459114 non-null  int64
 2   drug_role        459114 non-null  object
 3   drugname         459114 non-null  object
 4   active_chemical  459114 non-null  object
 5   route            459114 non-null  object
 6   dechallenge      459114 non-null  object
 7   dose_amount      459114 non-null  float64
 8   dose_form        459114 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 35.0+ MB

In [25]:
drug_list_cleaned['primaryid'].value_counts()

primaryid
1292438727    193
1311444421    148
1570794318    140
1005523354    140
822181246     118
             ...
99813994        1
99916952        1
99963622        1
181319242       1
100194884       1
Name: count, Length: 224916, dtype: int64

## Report Details

In [26]:
report_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436148 entries, 0 to 436147
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         436148 non-null  int64
 1   caseid            436148 non-null  int64
 2   caseversion       436148 non-null  int64
 3   i_f_code          436148 non-null  object
 4   event_dt          219010 non-null  float64
 5   mfr_dt            418501 non-null  float64
 6   init_fda_dt       436148 non-null  int64
 7   fda_dt            436148 non-null  int64
 8   rept_cod          436148 non-null  object
 9   auth_num          20154 non-null   object
 10  mfr_num           418508 non-null  object
 11  mfr_sndr          436148 non-null  object
 12  lit_ref           24558 non-null   object
 13  age               230001 non-null  float64
 14  age_cod           230029 non-null  object
 15  age_grp           75798 non-null   object
 16  sex               358171 non-null  object
 17  e_sub             436148 non-null  object
 18  wt                83112 non-null   float64
 19  wt_cod            83112 non-null   object
 20  rept_dt           436025 non-null  float64
 21  to_mfr            17641 non-null   object
 22  occp_cod          427479 non-null  object
 23  reporter_country  436147 non-null  object
 24  occr_country      435461 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 83.2+ MB

In [27]:
report_details.sort_values(by=['caseid', 'caseversion'], inplace=True)  # sort by caseid and version
report_details_cleaned = report_details.drop_duplicates(subset='caseid', keep='last').copy() # drop duplicates case

In [28]:
report_details_cleaned['primaryid'].value_counts()

primaryid
37363932     1
39629172     1
41627247     1
41923193     1
42021114     1
            ..
186953981    1
186954941    1
186955411    1
186956411    1
186957901    1
Name: count, Length: 436148, dtype: int64

In [29]:
report_details_cleaned.drop(columns=['caseid','caseversion','auth_num','lit_ref','to_mfr','mfr_num','mfr_sndr','event_dt','mfr_dt','init_fda_dt','rept_dt','i_f_code','e_sub','rept_cod'], inplace=True)
report_details_cleaned

,primaryid,fda_dt,age,age_cod,age_grp,sex,wt,wt_cod,occp_cod,reporter_country,occr_country
435597,37363932,20201230,NaN,NaN,NaN,M,NaN,NaN,HP,CN,CN
435598,39629172,20201230,35.0,YR,NaN,M,NaN,NaN,HP,IN,IN
435599,41627247,20201124,NaN,NaN,NaN,NaN,NaN,NaN,PH,GB,GB
435600,41923193,20201016,4.0,YR,C,F,20.0,KG,MD,AU,AU
435601,42021114,20201102,45.0,YR,A,F,NaN,NaN,HP,IT,IT
...,...,...,...,...,...,...,...,...,...,...,...
435592,186953981,20201231,62.0,YR,NaN,M,96.0,KG,MD,US,US
435593,186954941,20201231,53.0,YR,NaN,M,107.7,KG,MD,US,US
435594,186955411,20201231,69.0,YR,NaN,M,105.1,KG,HP,US,US
435595,186956411,20201231,27.0,YR,NaN,F,77.2,KG,HP,US,US
435596,186957901,20201230,69.0,YR,NaN,NaN,NaN,NaN,CN,US,US

In [30]:
report_details_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436148 entries, 435597 to 435596
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         436148 non-null  int64
 1   fda_dt            436148 non-null  int64
 2   age               230001 non-null  float64
 3   age_cod           230029 non-null  object
 4   age_grp           75798 non-null   object
 5   sex               358171 non-null  object
 6   wt                83112 non-null   float64
 7   wt_cod            83112 non-null   object
 8   occp_cod          427479 non-null  object
 9   reporter_country  436147 non-null  object
 10  occr_country      435461 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 39.9+ MB

In [31]:
report_details_cleaned.isnull().sum()

primaryid                0
fda_dt                   0
age                 206147
age_cod             206119
age_grp             360350
sex                  77977
wt                  353036
wt_cod              353036
occp_cod              8669
reporter_country         1
occr_country           687
dtype: int64

In [32]:
report_details_cleaned['age_cod'].value_counts()

age_cod
YR     223775
DEC      2578
DY       2078
MON      1468
WK        128
HR          2
Name: count, dtype: int64

In [33]:
import numpy as np
age_conversion_factors = {
    'YR':  1,
    'DEC': 10,    # decade
    'MON': 1 / 12,   # month
    'WK':  1 / 52.14,   # week
    'DY':  1 / 365.25,    # day
    'HR':  1 / 8766    # hour
}

report_details_cleaned['age_in_years'] = np.nan

for code, factor in age_conversion_factors.items():
    mask = report_details_cleaned['age_cod'] == code
    report_details_cleaned.loc[mask, 'age_in_years'] = report_details_cleaned.loc[mask, 'age'] * factor

report_details_cleaned[
    (report_details_cleaned['age_cod'].notna()) & (report_details_cleaned['age_cod'] != 'YR')
][['age', 'age_cod', 'age_in_years']].sample(10)

            age age_cod  age_in_years
104652      4.0     DEC     40.000000
16989       6.0     DEC     60.000000
60318       7.0     DEC     70.000000
335804      2.0     DEC     20.000000
312494  23615.0      DY     64.654346
265911  26988.0      DY     73.889117
76296   23231.0      DY     63.603012
284924      1.0      DY      0.002738
410057  27480.0      DY     75.236140
227129      2.0     DEC     20.000000

In [34]:
report_details_cleaned.drop(columns=['age_cod','age'], inplace = True)
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,wt,wt_cod,occp_cod,reporter_country,occr_country,age_in_years
435597,37363932,20201230,NaN,M,NaN,NaN,HP,CN,CN,NaN
435598,39629172,20201230,NaN,M,NaN,NaN,HP,IN,IN,35.0
435599,41627247,20201124,NaN,NaN,NaN,NaN,PH,GB,GB,NaN
435600,41923193,20201016,C,F,20.0,KG,MD,AU,AU,4.0
435601,42021114,20201102,A,F,NaN,NaN,HP,IT,IT,45.0
...,...,...,...,...,...,...,...,...,...,...
435592,186953981,20201231,NaN,M,96.0,KG,MD,US,US,62.0
435593,186954941,20201231,NaN,M,107.7,KG,MD,US,US,53.0
435594,186955411,20201231,NaN,M,105.1,KG,HP,US,US,69.0
435595,186956411,20201231,NaN,F,77.2,KG,HP,US,US,27.0
435596,186957901,20201230,NaN,NaN,NaN,NaN,CN,US,US,69.0

In [35]:
report_details_cleaned['wt_cod'].value_counts()

wt_cod
KG     82746
LBS      366
Name: count, dtype: int64

In [36]:
lbs_to_kg_factor = 0.453592
lbs_mask = report_details_cleaned['wt_cod'] == 'LBS'
report_details_cleaned.loc[lbs_mask, 'wt'] = report_details.loc[lbs_mask, 'wt'] * lbs_to_kg_factor
report_details_cleaned.loc[lbs_mask, 'wt_cod'] = 'KG'
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,wt,wt_cod,occp_cod,reporter_country,occr_country,age_in_years
435597,37363932,20201230,NaN,M,NaN,NaN,HP,CN,CN,NaN
435598,39629172,20201230,NaN,M,NaN,NaN,HP,IN,IN,35.0
435599,41627247,20201124,NaN,NaN,NaN,NaN,PH,GB,GB,NaN
435600,41923193,20201016,C,F,20.0,KG,MD,AU,AU,4.0
435601,42021114,20201102,A,F,NaN,NaN,HP,IT,IT,45.0
...,...,...,...,...,...,...,...,...,...,...
435592,186953981,20201231,NaN,M,96.0,KG,MD,US,US,62.0
435593,186954941,20201231,NaN,M,107.7,KG,MD,US,US,53.0
435594,186955411,20201231,NaN,M,105.1,KG,HP,US,US,69.0
435595,186956411,20201231,NaN,F,77.2,KG,HP,US,US,27.0
435596,186957901,20201230,NaN,NaN,NaN,NaN,CN,US,US,69.0

In [37]:
report_details_cleaned.drop(columns=['wt_cod'], inplace = True)
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,wt,occp_cod,reporter_country,occr_country,age_in_years
435597,37363932,20201230,NaN,M,NaN,HP,CN,CN,NaN
435598,39629172,20201230,NaN,M,NaN,HP,IN,IN,35.0
435599,41627247,20201124,NaN,NaN,NaN,PH,GB,GB,NaN
435600,41923193,20201016,C,F,20.0,MD,AU,AU,4.0
435601,42021114,20201102,A,F,NaN,HP,IT,IT,45.0
...,...,...,...,...,...,...,...,...,...
435592,186953981,20201231,NaN,M,96.0,MD,US,US,62.0
435593,186954941,20201231,NaN,M,107.7,MD,US,US,53.0
435594,186955411,20201231,NaN,M,105.1,HP,US,US,69.0
435595,186956411,20201231,NaN,F,77.2,HP,US,US,27.0
435596,186957901,20201230,NaN,NaN,NaN,CN,US,US,69.0

In [38]:
report_details_cleaned['occp_cod'].value_counts()

occp_cod
CN    197299
HP     92032
MD     85110
PH     28494
LW     24544
Name: count, dtype: int64

In [39]:
hcp_codes = ['MD', 'PH', 'RN', 'OT']
report_details_cleaned['is_hcp'] = report_details_cleaned['occp_cod'].isin(hcp_codes)   # heatlh care professional
report_details_cleaned.drop(columns=['occp_cod'], inplace=True)
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,wt,reporter_country,occr_country,age_in_years,is_hcp
435597,37363932,20201230,NaN,M,NaN,CN,CN,NaN,False
435598,39629172,20201230,NaN,M,NaN,IN,IN,35.0,False
435599,41627247,20201124,NaN,NaN,NaN,GB,GB,NaN,True
435600,41923193,20201016,C,F,20.0,AU,AU,4.0,True
435601,42021114,20201102,A,F,NaN,IT,IT,45.0,False
...,...,...,...,...,...,...,...,...,...
435592,186953981,20201231,NaN,M,96.0,US,US,62.0,True
435593,186954941,20201231,NaN,M,107.7,US,US,53.0,True
435594,186955411,20201231,NaN,M,105.1,US,US,69.0,False
435595,186956411,20201231,NaN,F,77.2,US,US,27.0,False
435596,186957901,20201230,NaN,NaN,NaN,US,US,69.0,False

In [40]:
report_details_cleaned['sex'] = report_details_cleaned['sex'].fillna('UNK')
report_details_cleaned['sex'].value_counts()

sex
F      209605
M      148528
UNK     78015
Name: count, dtype: int64

In [41]:
report_details_cleaned['reporter_country'].value_counts()

reporter_country
US                       284540
CA                        27665
COUNTRY NOT SPECIFIED     16622
JP                        14726
FR                        13596
                          ...
TJ                            1
SL                            1
GN                            1
LR                            1
PN                            1
Name: count, Length: 170, dtype: int64

In [42]:
report_details_cleaned['reporter_country'] = report_details_cleaned['reporter_country'].fillna('COUNTRY NOT SPECIFIED')
report_details_cleaned['occr_country'] = report_details_cleaned['reporter_country'].fillna('COUNTRY NOT SPECIFIED')

In [43]:
report_details_cleaned.isnull().sum()

primaryid                0
fda_dt                   0
age_grp             360350
sex                      0
wt                  353036
reporter_country         0
occr_country             0
age_in_years        206147
is_hcp                   0
dtype: int64

In [44]:
report_details_cleaned.drop(columns=['wt'], inplace=True)  # too many nulls
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp
435597,37363932,20201230,NaN,M,CN,CN,NaN,False
435598,39629172,20201230,NaN,M,IN,IN,35.0,False
435599,41627247,20201124,NaN,UNK,GB,GB,NaN,True
435600,41923193,20201016,C,F,AU,AU,4.0,True
435601,42021114,20201102,A,F,IT,IT,45.0,False
...,...,...,...,...,...,...,...,...
435592,186953981,20201231,NaN,M,US,US,62.0,True
435593,186954941,20201231,NaN,M,US,US,53.0,True
435594,186955411,20201231,NaN,M,US,US,69.0,False
435595,186956411,20201231,NaN,F,US,US,27.0,False
435596,186957901,20201230,NaN,UNK,US,US,69.0,False

In [45]:
median_age = report_details_cleaned['age_in_years'].median()
print(median_age)
report_details_cleaned['age_in_years'] = report_details_cleaned['age_in_years'].fillna(median_age)

59.0

In [46]:
report_details_cleaned['age_grp'].value_counts()

age_grp
A    46117
E    24771
C     1555
T     1521
N     1454
I      380
Name: count, dtype: int64

In [47]:
age_bins = [0, 1/12, 2, 12, 18, 65, 150]
age_labels = ['Neonate', 'Infant', 'Child', 'Adolescent', 'Adult', 'Elderly']

report_details_cleaned['age_grp'] = pd.cut(
    x=report_details_cleaned['age_in_years'], 
    bins=age_bins, 
    labels=age_labels, 
    right=False,
    include_lowest=True # To include age 0
)
report_details_cleaned

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp
435597,37363932,20201230,Adult,M,CN,CN,59.0,False
435598,39629172,20201230,Adult,M,IN,IN,35.0,False
435599,41627247,20201124,Adult,UNK,GB,GB,59.0,True
435600,41923193,20201016,Child,F,AU,AU,4.0,True
435601,42021114,20201102,Adult,F,IT,IT,45.0,False
...,...,...,...,...,...,...,...,...
435592,186953981,20201231,Adult,M,US,US,62.0,True
435593,186954941,20201231,Adult,M,US,US,53.0,True
435594,186955411,20201231,Elderly,M,US,US,69.0,False
435595,186956411,20201231,Adult,F,US,US,27.0,False
435596,186957901,20201230,Elderly,UNK,US,US,69.0,False

In [48]:
report_details_cleaned.isnull().sum()

primaryid           0
fda_dt              0
age_grp             4
sex                 0
reporter_country    0
occr_country        0
age_in_years        0
is_hcp              0
dtype: int64

In [49]:
report_details_cleaned[report_details_cleaned['age_grp'].isnull()]

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp
19753,1635229917,20201207,NaN,F,CA,CA,-1.0,True
157034,184006543,20201111,NaN,M,JP,JP,800.0,True
265502,185120891,20201117,NaN,F,US,US,-3.0,False
281397,185285041,20201120,NaN,M,US,US,-4.0,False

In [50]:
report_details_cleaned[report_details_cleaned['age_in_years']<0]

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp
19753,1635229917,20201207,NaN,F,CA,CA,-1.0,True
265502,185120891,20201117,NaN,F,US,US,-3.0,False
281397,185285041,20201120,NaN,M,US,US,-4.0,False

In [51]:
unrealistic_age = (report_details_cleaned['age_in_years'] < 0) | (report_details_cleaned['age_in_years'] > 120)
report_details_cleaned.loc[unrealistic_age, 'age_in_years'] = median_age
report_details_cleaned.loc[unrealistic_age, 'age_grp'] = 'Adult'

In [52]:
report_details_cleaned.isnull().sum()

primaryid           0
fda_dt              0
age_grp             0
sex                 0
reporter_country    0
occr_country        0
age_in_years        0
is_hcp              0
dtype: int64

In [53]:
report_details_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436148 entries, 435597 to 435596
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         436148 non-null  int64
 1   fda_dt            436148 non-null  int64
 2   age_grp           436148 non-null  category
 3   sex               436148 non-null  object
 4   reporter_country  436148 non-null  object
 5   occr_country      436148 non-null  object
 6   age_in_years      436148 non-null  float64
 7   is_hcp            436148 non-null  bool
dtypes: bool(1), category(1), float64(1), int64(2), object(3)
memory usage: 24.1+ MB

## Merging Both

In [54]:
final_df = pd.merge(
    report_details_cleaned, 
    drug_list_cleaned, 
    on='primaryid', 
    how='inner'
)

final_df.shape
final_df

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,2,SS,VIRAMUNE,NEVIRAPINE,Transplacental,Unknown,400.0,TABLET
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,3,SS,RETROVIR,ZIDOVUDINE,Transplacental,Unknown,250.0,CAPSULE
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,4,SS,NORVIR,RITONAVIR,Transplacental,Not applicable,500.0,Unknown
4,42021114,20201102,Adult,F,IT,IT,45.0,False,1,PS,LEVOFLOXACIN.,LEVOFLOXACIN,Unknown,Unknown,500.0,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459109,186954941,20201231,Adult,M,US,US,53.0,True,1,PS,CYCLOPHOSPHAMIDE.,CYCLOPHOSPHAMIDE,Unknown,Not applicable,1555.0,Unknown
459110,186954941,20201231,Adult,M,US,US,53.0,True,2,SS,DOXORUBICIN HYDROCHLORIDE.,DOXORUBICIN HYDROCHLORIDE,Unknown,Not applicable,20.4,Unknown
459111,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,ETOPOSIDE (VP-16),ETOPOSIDE,Unknown,Not applicable,103.2,Unknown
459112,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown
459113,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown

In [55]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459114 entries, 0 to 459113
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         459114 non-null  int64
 1   fda_dt            459114 non-null  int64
 2   age_grp           459114 non-null  category
 3   sex               459114 non-null  object
 4   reporter_country  459114 non-null  object
 5   occr_country      459114 non-null  object
 6   age_in_years      459114 non-null  float64
 7   is_hcp            459114 non-null  bool
 8   drug_sequence     459114 non-null  int64
 9   drug_role         459114 non-null  object
 10  drugname          459114 non-null  object
 11  active_chemical   459114 non-null  object
 12  route             459114 non-null  object
 13  dechallenge       459114 non-null  object
 14  dose_amount       459114 non-null  float64
 15  dose_form         459114 non-null  object
dtypes: bool(1), category(1), float64(2), int64(3), object(9)
memory usage: 49.9+ MB

In [56]:
final_df['primaryid'].value_counts()

primaryid
1292438727    193
1311444421    148
1570794318    140
1005523354    140
822181246     118
             ...
186951881       1
186951911       1
186953011       1
57528163        1
186947691       1
Name: count, Length: 224916, dtype: int64

In [57]:
# final_df.to_csv('merged_faers_data.csv', index=False)

## Adverse Reaction

In [58]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522657 entries, 0 to 1522656
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   primaryid     1522657 non-null  int64
 1   caseid        1522657 non-null  int64
 2   pt            1522657 non-null  object
 3   drug_rec_act  2364 non-null     object
dtypes: int64(2), object(2)
memory usage: 46.5+ MB

In [59]:
adverse_reactions.drop(columns=['drug_rec_act','caseid'], inplace=True)
adverse_reactions

         primaryid                                                pt
0        100046573                          Type 2 diabetes mellitus
1        100046962                                Abnormal behaviour
2        100046962                                  Drug interaction
3        100046962                                  Energy increased
4        100046962                                      Irritability
...            ...                                               ...
1522652   99963622                          Type 2 diabetes mellitus
1522653   99975713                          Type 2 diabetes mellitus
1522654   99976304                                         Agitation
1522655   99976304  Inappropriate schedule of product administration
1522656   99976304                                Psychotic disorder

[1522657 rows x 2 columns]

In [60]:
adverse_reactions.isnull().sum()

primaryid    0
pt           0
dtype: int64

In [61]:
adverse_reactions.rename(columns={'pt': 'reaction_term'}, inplace=True)

In [62]:
final_df_with_reaction = pd.merge(
    final_df,
    adverse_reactions,
    on='primaryid',
    how='inner'
)
final_df_with_reaction

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Pulmonary hypoplasia
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,2,SS,VIRAMUNE,NEVIRAPINE,Transplacental,Unknown,400.0,TABLET,Brain malformation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032139,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,ETOPOSIDE (VP-16),ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia
3032140,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia
3032141,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia
3032142,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia
3032143,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia

In [63]:
final_df_with_reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3032144 entries, 0 to 3032143
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   primaryid         int64
 1   fda_dt            int64
 2   age_grp           category
 3   sex               object
 4   reporter_country  object
 5   occr_country      object
 6   age_in_years      float64
 7   is_hcp            bool
 8   drug_sequence     int64
 9   drug_role         object
 10  drugname          object
 11  active_chemical   object
 12  route             object
 13  dechallenge       object
 14  dose_amount       float64
 15  dose_form         object
 16  reaction_term     object
dtypes: bool(1), category(1), float64(2), int64(3), object(10)
memory usage: 352.8+ MB

In [64]:
final_df_with_reaction.isnull().sum()

primaryid           0
fda_dt              0
age_grp             0
sex                 0
reporter_country    0
occr_country        0
age_in_years        0
is_hcp              0
drug_sequence       0
drug_role           0
drugname            0
active_chemical     0
route               0
dechallenge         0
dose_amount         0
dose_form           0
reaction_term       0
dtype: int64

In [65]:
final_df_with_reaction['reaction_term'].value_counts()

reaction_term
Off label use                            60245
Drug ineffective                         50823
Fatigue                                  47864
Nausea                                   39138
Diarrhoea                                37291
                                         ...
Gallbladder cancer stage I                   1
Herpes simplex oesophagitis                  1
Natural killer T cell count increased        1
Oesophageal mucosal blister                  1
Vulvovaginitis                               1
Name: count, Length: 10615, dtype: int64

In [66]:
final_df_with_reaction['primaryid'].value_counts()

primaryid
1311444421    14356
1661347826     6318
155602165      5313
181371246      4620
1162632827     4161
              ...
183450071         1
185719671         1
185719542         1
186949031         1
186948401         1
Name: count, Length: 224916, dtype: int64

In [67]:
# final_df_with_reaction.to_csv('merged_faers_data.csv', index=False)

## prescribed_reason

In [68]:
prescribed_reason.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297446 entries, 0 to 1297445
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   primaryid      1297446 non-null  int64
 1   caseid         1297446 non-null  int64
 2   indi_drug_seq  1297446 non-null  int64
 3   indi_pt        1297446 non-null  object
dtypes: int64(3), object(1)
memory usage: 39.6+ MB

In [69]:
prescribed_reason.isnull().sum()

primaryid        0
caseid           0
indi_drug_seq    0
indi_pt          0
dtype: int64

In [70]:
prescribed_reason.drop(columns=['caseid'], inplace=True)
prescribed_reason.rename(columns={'indi_pt': 'indication_for_use'}, inplace=True)
prescribed_reason

         primaryid  indi_drug_seq                   indication_for_use
0        100046573              1    Low density lipoprotein increased
1        100046573              2                         Hypertension
2        100046962              1  Product used for unknown indication
3        100046962              2                         Panic attack
4        100046962              3                    Negative thoughts
...            ...            ...                                  ...
1297441   99976304              7  Product used for unknown indication
1297442   99976304              8  Product used for unknown indication
1297443   99976304              9  Product used for unknown indication
1297444   99976304             10  Product used for unknown indication
1297445   99976304             11  Product used for unknown indication

[1297446 rows x 3 columns]

In [71]:
prescribed_reason['primaryid'].value_counts()

primaryid
1109083718    448
183672572     215
183403413     173
183673001     169
1162632827    143
             ...
184226941       1
183461731       1
183461741       1
183461751       1
186480591       1
Name: count, Length: 398924, dtype: int64

In [72]:
final_df_with_reason = pd.merge(
    final_df_with_reaction,
    prescribed_reason,
    how='left', 
    left_on=['primaryid', 'drug_sequence'],
    right_on=['primaryid', 'indi_drug_seq']
)
final_df_with_reason

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term,indi_drug_seq,indication_for_use
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,1.0,Product used for unknown indication
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,1.0,Product used for unknown indication
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy,1.0,Product used for unknown indication
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Pulmonary hypoplasia,1.0,Product used for unknown indication
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,2,SS,VIRAMUNE,NEVIRAPINE,Transplacental,Unknown,400.0,TABLET,Brain malformation,2.0,Product used for unknown indication
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032975,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,ETOPOSIDE (VP-16),ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia,NaN,NaN
3032976,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia,NaN,NaN
3032977,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia,NaN,NaN
3032978,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia,NaN,NaN
3032979,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia,NaN,NaN

In [73]:
final_df_with_reason.drop(columns=['indi_drug_seq'], inplace=True)
final_df_with_reason

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term,indication_for_use
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy,Product used for unknown indication
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Pulmonary hypoplasia,Product used for unknown indication
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,2,SS,VIRAMUNE,NEVIRAPINE,Transplacental,Unknown,400.0,TABLET,Brain malformation,Product used for unknown indication
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032975,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,ETOPOSIDE (VP-16),ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia,NaN
3032976,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia,NaN
3032977,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia,NaN
3032978,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia,NaN
3032979,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia,NaN

In [74]:
final_df_with_reason['primaryid'].value_counts()

primaryid
1311444421    14356
1661347826     6318
155602165      5313
181371246      4620
1162632827     4161
              ...
177152483         1
177150713         1
186948211         1
186948171         1
186948121         1
Name: count, Length: 224916, dtype: int64

In [75]:
final_df_with_reason.isnull().sum()

primaryid                   0
fda_dt                      0
age_grp                     0
sex                         0
reporter_country            0
occr_country                0
age_in_years                0
is_hcp                      0
drug_sequence               0
drug_role                   0
drugname                    0
active_chemical             0
route                       0
dechallenge                 0
dose_amount                 0
dose_form                   0
reaction_term               0
indication_for_use    1486899
dtype: int64

In [76]:
final_df_with_reason['indication_for_use'].value_counts()

indication_for_use
Product used for unknown indication              284175
Rheumatoid arthritis                             260432
Crohn's disease                                   38549
Plasma cell myeloma                               35279
Multiple sclerosis                                32362
                                                  ...
Meningitis coccidioides                               1
Oesophageal squamous cell carcinoma recurrent         1
Lipomatosis                                           1
Vascular stent thrombosis                             1
Angiomyxoma                                           1
Name: count, Length: 3941, dtype: int64

In [77]:
final_df_with_reason['indication_for_use'] = final_df_with_reason['indication_for_use'].fillna('Product used for unknown indication')

In [78]:
final_df_with_reason['indication_for_use'].value_counts()

indication_for_use
Product used for unknown indication              1771074
Rheumatoid arthritis                              260432
Crohn's disease                                    38549
Plasma cell myeloma                                35279
Multiple sclerosis                                 32362
                                                  ...
Meningitis coccidioides                                1
Oesophageal squamous cell carcinoma recurrent          1
Lipomatosis                                            1
Vascular stent thrombosis                              1
Angiomyxoma                                            1
Name: count, Length: 3941, dtype: int64

In [79]:
final_df_with_reason.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3032980 entries, 0 to 3032979
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   primaryid           int64
 1   fda_dt              int64
 2   age_grp             category
 3   sex                 object
 4   reporter_country    object
 5   occr_country        object
 6   age_in_years        float64
 7   is_hcp              bool
 8   drug_sequence       int64
 9   drug_role           object
 10  drugname            object
 11  active_chemical     object
 12  route               object
 13  dechallenge         object
 14  dose_amount         float64
 15  dose_form           object
 16  reaction_term       object
 17  indication_for_use  object
dtypes: bool(1), category(1), float64(2), int64(3), object(11)
memory usage: 376.0+ MB

In [80]:
# final_df_with_reason.to_csv('merged_faers_data.csv', index=False)

## Outcome

In [81]:
outcome

        primaryid    caseid outc_cod
0       100046573  10004657       OT
1       100046962  10004696       OT
2       100048793  10004879       OT
3       100051383  10005138       OT
4       100075524  10007552       OT
...           ...       ...      ...
365570   99954693   9995469       OT
365571   99954693   9995469       DE
365572   99963622   9996362       OT
365573   99975713   9997571       OT
365574   99976304   9997630       HO

[365575 rows x 3 columns]

In [82]:
outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365575 entries, 0 to 365574
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   primaryid  365575 non-null  int64
 1   caseid     365575 non-null  int64
 2   outc_cod   365575 non-null  object
dtypes: int64(2), object(1)
memory usage: 8.4+ MB

In [83]:
outcome.isnull().sum()

primaryid    0
caseid       0
outc_cod     0
dtype: int64

In [84]:
outcome.drop(columns=['caseid'], inplace=True)
outcome.rename(columns={'outc_cod': 'outcome_code'}, inplace=True)

In [85]:
outcome['outcome_code'].value_counts()

outcome_code
OT    202016
HO     97124
DE     44785
LT     11596
DS      8491
CA      1308
RI       255
Name: count, dtype: int64

In [86]:
outcome_map = {
    'DE': 'Death',
    'LT': 'Life-Threatening',
    'HO': 'Hospitalization',
    'DS': 'Disability',
    'CA': 'Congenital Anomaly',
    'RI': 'Required Intervention',
    'OT': 'Other Serious'
}
outcome['outcome_code'] = outcome['outcome_code'].replace(outcome_map)
outcome

        primaryid     outcome_code
0       100046573    Other Serious
1       100046962    Other Serious
2       100048793    Other Serious
3       100051383    Other Serious
4       100075524    Other Serious
...           ...              ...
365570   99954693    Other Serious
365571   99954693            Death
365572   99963622    Other Serious
365573   99975713    Other Serious
365574   99976304  Hospitalization

[365575 rows x 2 columns]

In [87]:
final_df_with_outcomes = pd.merge(
    final_df_with_reason,
    outcome,
    on='primaryid',
    how='left'
)
final_df_with_outcomes

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,drugname,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term,indication_for_use,outcome_code
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Congenital Anomaly
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Other Serious
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Congenital Anomaly
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Other Serious
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,VIDEX,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy,Product used for unknown indication,Congenital Anomaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4635078,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,ETOPOSIDE (VP-16),ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia,Product used for unknown indication,Hospitalization
4635079,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia,Product used for unknown indication,Hospitalization
4635080,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,VINCRISTINE SULFATE.,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia,Product used for unknown indication,Hospitalization
4635081,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia,Product used for unknown indication,Hospitalization
4635082,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,PREDNISONE.,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia,Product used for unknown indication,Hospitalization

In [88]:
final_df_with_outcomes.isnull().sum()

primaryid                  0
fda_dt                     0
age_grp                    0
sex                        0
reporter_country           0
occr_country               0
age_in_years               0
is_hcp                     0
drug_sequence              0
drug_role                  0
drugname                   0
active_chemical            0
route                      0
dechallenge                0
dose_amount                0
dose_form                  0
reaction_term              0
indication_for_use         0
outcome_code          335329
dtype: int64

In [89]:
final_df_with_outcomes['outcome_code'].value_counts()

outcome_code
Other Serious            2332720
Hospitalization          1287760
Disability                252877
Life-Threatening          224959
Death                     192225
Congenital Anomaly          8662
Required Intervention        551
Name: count, dtype: int64

In [90]:
final_df_with_outcomes['outcome_code'] = final_df_with_outcomes['outcome_code'].fillna('Outcome Not Specified')
final_df_with_outcomes['outcome_code'].value_counts()

outcome_code
Other Serious            2332720
Hospitalization          1287760
Outcome Not Specified     335329
Disability                252877
Life-Threatening          224959
Death                     192225
Congenital Anomaly          8662
Required Intervention        551
Name: count, dtype: int64

In [91]:
final_df_with_outcomes.isnull().sum()

primaryid             0
fda_dt                0
age_grp               0
sex                   0
reporter_country      0
occr_country          0
age_in_years          0
is_hcp                0
drug_sequence         0
drug_role             0
drugname              0
active_chemical       0
route                 0
dechallenge           0
dose_amount           0
dose_form             0
reaction_term         0
indication_for_use    0
outcome_code          0
dtype: int64

In [92]:
# final_df_with_outcomes.to_csv('merged_faers_data.csv', index=False)

## therapy_date

In [93]:
therapy_date

        primaryid    caseid  dsg_drug_seq    start_dt      end_dt  dur dur_cod
0       100046573  10004657             1  20090217.0  20110901.0  NaN     NaN
1       100048793  10004879             1  20031024.0  20060801.0  NaN     NaN
2       100048793  10004879             3  20060801.0  20080306.0  NaN     NaN
3       100048793  10004879             4  20080306.0  20090114.0  NaN     NaN
4       100048793  10004879             5  20060801.0         NaN  NaN     NaN
...           ...       ...           ...         ...         ...  ...     ...
681406   99975713   9997571             2    200412.0      2005.0  NaN     NaN
681407   99976304   9997630             1    201305.0         NaN  NaN     NaN
681408   99976304   9997630             2  20140102.0         NaN  NaN     NaN
681409   99976304   9997630             3  20140212.0         NaN  NaN     NaN
681410   99976304   9997630             4  20140306.0         NaN  NaN     NaN

[681411 rows x 7 columns]

In [94]:
therapy_date.isnull().sum()

primaryid            0
caseid               0
dsg_drug_seq         0
start_dt         28132
end_dt          375582
dur             680319
dur_cod         680323
dtype: int64

In [95]:
therapy_date.drop(columns=['caseid', 'dur', 'dur_cod'], inplace=True)
therapy_date

        primaryid  dsg_drug_seq    start_dt      end_dt
0       100046573             1  20090217.0  20110901.0
1       100048793             1  20031024.0  20060801.0
2       100048793             3  20060801.0  20080306.0
3       100048793             4  20080306.0  20090114.0
4       100048793             5  20060801.0         NaN
...           ...           ...         ...         ...
681406   99975713             2    200412.0      2005.0
681407   99976304             1    201305.0         NaN
681408   99976304             2  20140102.0         NaN
681409   99976304             3  20140212.0         NaN
681410   99976304             4  20140306.0         NaN

[681411 rows x 4 columns]

In [96]:
therapy_date['therapy_status'] = np.where(therapy_date['end_dt'].notna(), 'Completed', 'Ongoing')
therapy_date.drop(columns=['end_dt'], inplace=True)
therapy_date.dropna(subset=['start_dt'], inplace=True)
therapy_date.rename(columns={'dsg_drug_seq': 'drug_sequence'}, inplace=True)
therapy_date

        primaryid  drug_sequence    start_dt therapy_status
0       100046573              1  20090217.0      Completed
1       100048793              1  20031024.0      Completed
2       100048793              3  20060801.0      Completed
3       100048793              4  20080306.0      Completed
4       100048793              5  20060801.0        Ongoing
...           ...            ...         ...            ...
681406   99975713              2    200412.0      Completed
681407   99976304              1    201305.0        Ongoing
681408   99976304              2  20140102.0        Ongoing
681409   99976304              3  20140212.0        Ongoing
681410   99976304              4  20140306.0        Ongoing

[653279 rows x 4 columns]

In [97]:
final_dataset = pd.merge(
    final_df_with_outcomes,
    therapy_date,
    how='left',
    on=['primaryid', 'drug_sequence']
)
final_dataset

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,...,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term,indication_for_use,outcome_code,start_dt,therapy_status
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Other Serious,20040122.0,Completed
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Other Serious,20040122.0,Completed
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4635087,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,...,ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,NaN,NaN
4635088,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,...,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia,Product used for unknown indication,Hospitalization,NaN,NaN
4635089,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,...,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,NaN,NaN
4635090,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,...,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia,Product used for unknown indication,Hospitalization,NaN,NaN
4635091,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,...,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,NaN,NaN

In [98]:
final_dataset.isnull().sum()

primaryid                   0
fda_dt                      0
age_grp                     0
sex                         0
reporter_country            0
occr_country                0
age_in_years                0
is_hcp                      0
drug_sequence               0
drug_role                   0
drugname                    0
active_chemical             0
route                       0
dechallenge                 0
dose_amount                 0
dose_form                   0
reaction_term               0
indication_for_use          0
outcome_code                0
start_dt              2187592
therapy_status        2187592
dtype: int64

In [99]:
final_dataset['start_dt'] = final_dataset['start_dt'].fillna('Not Specified')
final_dataset['therapy_status'] = final_dataset['therapy_status'].fillna('Not Specified')
final_dataset.isnull().sum()

primaryid             0
fda_dt                0
age_grp               0
sex                   0
reporter_country      0
occr_country          0
age_in_years          0
is_hcp                0
drug_sequence         0
drug_role             0
drugname              0
active_chemical       0
route                 0
dechallenge           0
dose_amount           0
dose_form             0
reaction_term         0
indication_for_use    0
outcome_code          0
start_dt              0
therapy_status        0
dtype: int64

In [100]:
final_dataset

,primaryid,fda_dt,age_grp,sex,reporter_country,occr_country,age_in_years,is_hcp,drug_sequence,drug_role,...,active_chemical,route,dechallenge,dose_amount,dose_form,reaction_term,indication_for_use,outcome_code,start_dt,therapy_status
0,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
1,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Brain malformation,Product used for unknown indication,Other Serious,20040122.0,Completed
2,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
3,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Congenital central nervous system anomaly,Product used for unknown indication,Other Serious,20040122.0,Completed
4,41627247,20201124,Adult,UNK,GB,GB,59.0,True,1,PS,...,DIDANOSINE,Transplacental,Unknown,400.0,Unknown,Foetal exposure during pregnancy,Product used for unknown indication,Congenital Anomaly,20040122.0,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4635087,186954941,20201231,Adult,M,US,US,53.0,True,3,SS,...,ETOPOSIDE,Unknown,Not applicable,103.2,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,Not Specified,Not Specified
4635088,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,...,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Neutropenia,Product used for unknown indication,Hospitalization,Not Specified,Not Specified
4635089,186954941,20201231,Adult,M,US,US,53.0,True,4,SS,...,VINCRISTINE SULFATE,Unknown,Not applicable,0.4,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,Not Specified,Not Specified
4635090,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,...,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Neutropenia,Product used for unknown indication,Hospitalization,Not Specified,Not Specified
4635091,186954941,20201231,Adult,M,US,US,53.0,True,5,SS,...,PREDNISONE,Unknown,Not applicable,500.0,Unknown,Pyrexia,Product used for unknown indication,Hospitalization,Not Specified,Not Specified

In [101]:
duplicate_count = final_dataset.duplicated().sum()
duplicate_count

np.int64(39)

In [102]:
print(f"Shape before dropping duplicates: {final_dataset.shape}")
final_dataset.drop_duplicates(inplace=True)
print(f"Shape after dropping duplicates: {final_dataset.shape}")

Shape before dropping duplicates: (4635092, 21)
Shape after dropping duplicates: (4635053, 21)

In [103]:
duplicate_count = final_dataset.duplicated().sum()
duplicate_count

np.int64(0)

In [104]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4635053 entries, 0 to 4635091
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   primaryid           int64
 1   fda_dt              int64
 2   age_grp             category
 3   sex                 object
 4   reporter_country    object
 5   occr_country        object
 6   age_in_years        float64
 7   is_hcp              bool
 8   drug_sequence       int64
 9   drug_role           object
 10  drugname            object
 11  active_chemical     object
 12  route               object
 13  dechallenge         object
 14  dose_amount         float64
 15  dose_form           object
 16  reaction_term       object
 17  indication_for_use  object
 18  outcome_code        object
 19  start_dt            object
 20  therapy_status      object
dtypes: bool(1), category(1), float64(2), int64(3), object(14)
memory usage: 716.1+ MB

In [105]:
final_dataset.to_csv('final_faers_data.csv', index=False)